@import url('https://fonts.googleapis.com/css?family=Teko');

body{
    background-color: skyblue;
    margin:0;
    font-family: 'Teko', sans-serif;
}
.navbar-name{
    float: left;
    position: absolute;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.navbar-container{
    position: absolute;
    background-color: #101927;
    width:100%;
}

.navbar-container a{
    /*background-color: #1e85a0;*/
    text-decoration: none;
    color: #1e85a0;
    letter-spacing:5px;
}
.links li{
    list-style-type: none;
    display:inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
}
.navbar-links ul{
    float: right;
}

.links li:hover{
    color: skyblue;
}